@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-light text-dark;
  }
  h1 {
    @apply text-3xl md:text-4xl font-bold mb-4;
  }
  h2 {
    @apply text-2xl md:text-3xl font-semibold mb-3;
  }
  h3 {
    @apply text-xl md:text-2xl font-semibold mb-2;
  }
  p {
    @apply mb-4;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} 